<div class="row">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.address %></p>
</div>

<div class="row">
    <div class="columns medium-6">
        <h4>Description</h4>
        <p><%= @restaurant.description %></p>
    </div>
    <div class="columns medium-6">
        <h4>Comments:</h4>
        <%= react_component('Comment', {author: "CK", body: "The BEST Ever!", rank: 5}) %>
    </div>
</div>
